@import url('http://fonts.cdnfonts.com/css/cascadia-code');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header Section  */

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.site-logo{
    width: 120px;
    height: 40px;
}

.nav-list{
    margin: 0 50px;
    text-decoration: none;
    color: #555555;
    font-family: 'Cascadia Code';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

#new{
    margin-right: 10px;
}

.text-line{
    text-decoration: none;
    color: #555555;
    font-family: 'Cascadia Code';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

.border{
    border: 1px solid #192d55;
    background: #192D55;
    color: #FFFFFF;
    padding: 3px 10px;
    border-radius: 25px;
    font-size: 15px;
}

/* Section  */
/* rolling circle section  */

.loader {
    margin: auto;
    margin-top: 10%;
    border-top: 5px solid #4A87FE;
    border-left: 5px solid #4A87FE;
    border-right: 5px solid #4A87FE;
    border-bottom: 5px solid #86AFFE;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* footer  */

footer{
    background: #315AA9;
    padding: 80px 0;
    margin-bottom: 2.5em;
    margin-top: 10%
}

.logo-div-header{
    display: flex;
    justify-content:space-around;
    /* margin: 0 80px; */
    /* margin-top: 150px; */
}

p{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 25px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.icons{
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(163deg) brightness(111%) contrast(103%);
    padding-right: 5px;
}

.footer-list{
    display: flex;
    flex-direction: column;
    line-height: 25px;
    color: #FFFFFF;
}
    .footer-link{
        color: #FFFFFF;
        text-decoration: none;
        font-family: 'Cascadia Code';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 19px
    }

    .footer-link:active{
        color: rgba(85, 85, 85, 1);
    }

input{
    width: 90%;
    padding: 1em 2em;
    border: none;
    border-radius: 0.5rem;
    font-family: "Cascadia Code",Consolas,'Courier New',monospace;
}

.footer-btn{
    position: absolute;
    right: 7em;
    background-color: #000;
     color: #fff;;
     padding: 1em;
     border: none;
     border-radius: 1rem;
     width: 10%;
     font-family: "Cascadia Code",Consolas,'Courier New',monospace;
}
.footer-btn:hover, .footer-btn:active{
    transform: translateX(3px);
}