@import url('http://fonts.cdnfonts.com/css/cascadia-code');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header  */
#header-background{
    width: 70%;
    margin-top: 20px;
    margin-bottom: -100px;
    margin-left: 90px;
    opacity: 0.1;
}
/* #header-1{
    margin-left: 450px;
    margin-top: 20px;
    height: 80px;
    opacity: 0.1;
}
#header-2{
    margin-left: 120px;
    width: 50%;
    position: relative;
    top: -40px;
    opacity: 0.1;
}

#header-3{
    margin-left: 120px;
    width: 35%;
    position: relative;
    top: -60px;
    opacity: 0.1;
} */

/* body  */

h1{
    text-align: center;
    color: #315AA9;
    /* line-height: 77px; */
    font-family: 'Cascadia Code';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
}

/* .social-media{
    display: flex;
    justify-content: center;
    align-items: center;
}
    .social-icons{
        width: 50px;
        height: 50px;
        margin: 50px 10px 20px;
        border: 1px solid #315AA9;
        border-radius: 50%;
        padding: 15px
    } */

    .flex {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .socials {
        gap: 0.5rem;
        margin: 2rem 0;
    }
    
    .socials .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #315aa9;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        transition: var(--transition);
    }
    
    .socials .icon img {
        width: 60%;
    }
    
    .socials .icon:hover {
        background-color: var(--light-blue);
    }

h3{
    text-align: center;
    font-family: 'Cascadia Code';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    color: #315AA9;
    margin-bottom: 30px;
}

.form{
   text-align:center;
}
    input{
        padding: 20px 150px;
        margin: 15px 0;
        border-radius: 20px;
        border: 2px solid #3E71D4;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
    }
    input[type="text"]::placeholder { 
        font-family: 'Cascadia Code';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 34px;
        color: #555555;
        text-align:left;
    } 
    input[type="password"]::placeholder { 
        font-family: 'Cascadia Code';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 34px;
        color: #555555;
        /* padding-left: -50px;  */
    } 
    input[type=""]::placeholder { 
        font-family: 'Cascadia Code';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 34px;
        color: #808080;
        /* padding-left: -50px;  */
    } 
    #email{
        background-image:  url('/sign_up-images/Vector\ \(3\).svg');
        background-repeat: no-repeat;
        background-position: 20px;
        background-size: 25px;
    }
    #password{
        background-image:  url('/sign_up-images/Vector\ \(4\).svg');
        background-repeat: no-repeat;
        background-position: 20px;
        background-size: 25px;
    }
    #username{
        background-image:  url('/sign_up-images/Vector\ \(5\).svg');
        background-repeat: no-repeat;
        background-position: 20px;
        background-size: 25px;
        background-color: #DBE7FF;
    }

/* terms and conditions */
.terms{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

#checkbox{
    border: 2px solid #4A87FE;
    width: 20px;
    height: 20px;
}

span{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 33px;
    margin-left: 10px;
    color: #04AA47;
}

/* continue */
#continue {
    font-family: 'Cascadia Code';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    color: #FFFFFF;
    background: #315AA9;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 440px;
    margin-bottom: 50px;
    padding: 10px 0;
}

#continue-image{
    margin-left: 10px;
    width: 20px;
}

#copyright{
    text-align: center;
    margin-bottom: 30px;
    font-size: 15px;
}