@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("http://fonts.cdnfonts.com/css/cascadia-code");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.body {
  background-color: #fff;
  /* border: 61px solid blue; */
  width:100%;
  /* border: 4px solid red; */

  /* margin: 0 auto;
    justify-content: center; */
}
.body-cont {
  /* margin: 0 30px; */
  /* border: 4px solid red; */
  padding-left: 20px;
    padding-right: 20px;
   
}
h1,
h2,
h3,
h4 {
  font-family: "Cascadia Code", sans-serif;
}
p {
  font-family: "Open Sans", sans-serif;
}


/* CSS for Theme mode */
label {
  position: absolute;
  width: 50px;
  height: 27px;
  right: 40px;
  top: 32px;
  border: 2px solid #192d55;
  border-radius: 20px;
}
label:before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  left: 1px;
  top: 1px;
  border-radius: 50%;
  background: #192d55;
  cursor: pointer;
  transition: 0.4s;
}
label.active:before {
  left: 24px;
  background: #fff;
}
 body.night {
  background: #000;
  color: #fff;
  
} 

/* End of css for theme mode */


.header-link{
  /* border: 3px solid khaki; */
}

.hamburger-menu{
  display: none;
}
.openbtn{
  display: none;
}


.nav-div-2{
  display: none;
}

/* .side-link-div{
  display: none;
}
.side-link{
  display: none;
} */


.logo-div-header{
  /* display: flex; */
  /* flex-shrink: 0; */
}

nav {
  display: flex;
  margin: 1em 3em 0.5em 3em;
  align-items: center;
  font-size: 1.2rem;
}
.nav-list {
  width: 100%;
}
.nav-list-div {
  margin: 0 auto;
  display: flex;
  align-items: center;
  width: 100%;
}
.header-ul {
  margin: 0 auto;
}
/* .left {
  margin-left: auto;
  align-items: center;
} */
ul {
  list-style: none;
  display: flex;
}
a {
  text-decoration: none;
}
a:hover {
  /* text-decoration: underline; */
}
.header-list {
  margin-left: 2em;
}
.header-list-left {
  margin-right: 1em;
  margin-top: 0.3em;
}
.header-link {
  color: rgba(85, 85, 85, 1);
  text-decoration: none;
}
/* .header-list:active {
  color: rgba(25, 45, 85, 1);
} */

.about {
  border-bottom: 2px solid rgba(62, 113, 212, 1);
}
.header-btn {
  background-color: rgba(25, 45, 85, 1);
  color: #fff;
  padding: 0.4em 1em;
  border: none;
  border-radius: 12px;
  font-family: "Cascadia Code", Consolas, "Courier New", monospace;
  font-size: 1.2rem;
}
.header-btn:hover {
  opacity: 0.8;
  transform: translateY(-3px);
}
.fa-bars {
  display: none !important;
}





















/* Css for main nav */

.up-div{
  margin: auto;
  /* border: 3px solid red; */
  width: 97%;
  
}

.up{
  /* border: 4px solid red; */
  position: absolute;
  margin: auto;
  width: 95%;
  transform: rotate(20deg);
  bottom: 120px;
  /* right: 29px; */
  /* z-index: 0; */
}


/* Css for header */
header {
  /* margin: auto; */
  width: 100%;
  display: block;
background-image: url(images/wave.png);
  background-repeat: no-repeat;
  /* width: 100%;
  position: relative; */
}

.header-box {
  /* border: 3px solid red; */
  width: 99%;
  height: auto;
  background-image: url(images/wave.png);
    background-repeat: no-repeat;
  margin: 0 auto;
  background-color: #3e71d4;
}
.header-box-m{
  display: none;
}

/* .wave {
  width: 50%;
  position: absolute;
  border: 14px solid red;
} */

.header-cont {
  /* border: 4px solid gold; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.true-content {
  /* border: 4px solid red; */
  width: 55%;
  margin-top: 90px;
  padding-top: 60px;
  padding-bottom: 50px;
  /* margin-bottom: 90px; */
  padding-left: 40px;
  /* margin-top: -80px; */
  /* margin-left: 90px; */
}

.true-h1 {
  font-weight: 600;
  font-size: 60px;
  text-align:left;
  line-height: 74px;
  color: #ffffff;
  width: 100%;
  color: #ffffff;
  font-family:  cascadia-code;
  
}

.girl-img{
  width: 45%;
  /* border: 5px solid red; */
  position: relative;
  top: 80px;
  /* margin-right: 40px; */
  /* padding-top: 10px; */
  /* margin-top: -120px; */
}

.girl-g{
  width: 100%;
}



.true-p {
  color: #ffffff;
  font-weight: 400;
  font-size: 24px;
  width: 80%;
  line-height: 29px;
  padding-top: 20px;
  font-family: "Cascadia Code", sans-serif;
}


.true-content {
  /* position: absolute; */
  /* width: 100%; */
  /* bottom: -15px; */
  /* right: 330px; */
}
.write-btn {
  padding: 20px 60px;
  background: #192d55;
  border-radius: 25px;
  border: #192d55;
  margin-top: 30px;
}
.write-btn:hover{
  background: #4A87FE;
}
.write-txt {
  font-family: "Cascadia Code", sans-serif;
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
}

/* Css for trending */

.trend-main-nav{
  border-bottom: 1px solid  #AAAAAA;
}


.trend-nav {
  display: flex;
  justify-content: space-between;

   margin-top: 60px;
   margin-bottom: 10px;
  /* border-bottom: 1px solid  #AAAAAA;  */
}


.t-wave-h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 37px;
  color: #555555;
}

.arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.left-arr {
  /* border: 1px solid #192d55; */
  width: 100%;
}

.right-arr{
  width: 100%;
}



.btn-left {
  border: 1px solid #192d55;
  border-radius: 15%;
  padding: 7px 16px;
  margin-right: 10px;
}

.btn-right {
  background-color: #192d55;
  border: 1px solid #192d55;
  border-radius: 15%;
  /* display: flex; */

  /* align-items: flex-start; */
  padding: 7px 16px;
  /* gap: 10px; */

  /* width: 60px; */
  /* height: 39px; */
}
.btn-right:hover{
  background: #4A87FE;
  
}
.btn-left:hover{
  background: #4A87FE;
}

.trend-container {
  /* border: 5px solid green; */
   display: grid;
     grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
   width: 100%;
   gap: 40px;
  padding-top: 2.5rem;
}


.sec-trend1 {
  /* border: 3px solid gold; */
 /* width: 30.3%; */
 /* width: 50%; */
} 



.sec-trend2 {
  /* border: 3px solid gold; */
 /* width: 30.3%; */
  /* width: 50%; */
}

.sec-trend3 {
  /* border: 3px solid gold; */
 /* width: 30.3%; */
  /* width: 100%; */
    /* width: 50%; */
}

.sec-trend4 {
  /* border: 3px solid gold; */
  display: none;
   /* width: 50%; */
     /* width: 50%; */
 /* width: 30.3%; */
}



.dream{
  /* width: 100%; */
  width: 100%;
  /* height: 375px; */
  /* border: 3px solid red; */
}

  .first-img{
    width: 373px;
    height: 369px;
    /* border-radius: 80px; */
  }

.dream1{
  
}
.sec-trend:hover{
  transform: translateY(-5px);
  box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.25);
  /* box-shadow: 0 0 0 #4a4a4a;
  opacity: 0.5; */
}

/* .trend-card{
border: 4px solid limegreen;
} */

.dest {
  padding-top: 15px;
  width: 90%;
}
.dest:hover{
 color: #192d55;
}


.p1-trend {
  width: 90%;
  padding-top: 2.6rem;
    font-size: 1em;
  line-height: 1.4rem;
  color: #555555;
  font-weight: 600;
}

.p2-trend {
  padding-top: 1.5rem;
  width: 90%;
    font-size: 1em;
 line-height: 1.4rem;
  color: #555555;
  font-weight: 600;
}

.p3-trend {
  width: 90%;
  padding-top: 1.2rem;
  font-size: 1em;
  line-height: 1.4rem;
  color: #555555;
  font-weight: 600;
} 


.dest,
.dest2,
.dest3 {
  font-family: "Cascadia Code";
  font-weight: 600;
  font-size: 2em;
  line-height: 1.7rem;
  color: #3e71d4;
}

/* .dest2 {
  padding-top: 10px;
  width: 100%;
}
.dest3 {
  padding-top: 10px;
} */
.auth-cont {
  display: flex;
  padding-top: 70px;
  align-items: center;
  border: 4px solid red;
}
.auth-cont2 {
  display: flex;
  /* border: 3px solid red; */
  padding-top: 3rem;
}
.auth-cont3 {
  display: flex;
  padding-top: 2rem;
}
.auth-right {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}
.auth-right-late {
  padding-top: 15px;
  font-family: "Cascadia Code";
}
.auth-right-time {
  padding-left: 5px;
  font-family: "Cascadia Code";
}


.latest-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  /* border: 3px solid black; */
  width: 100%;
}

.latest-sec{
  /* border: 4px solid greenyellow; */
  width: 100%;
  }
  
.latest-nav {
  /* border: 4px dotted firebrick; */
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  list-style: none;
  padding-top: 70px;
  color: #555555;
}


.right-nav {
  display: flex;
  justify-content: center;
  text-align: center;
}


.late-h1,
.late-h2,
.late-h3,
.late-h4 {
  font-family: "Cascadia Code";
  font-weight: 600;
  font-size: 8.95109px;
  line-height: 10px;
  color: #3e71d4;
}
.late-h1 {
  width: 100%;
}
.late-h2 {
  width: 100%;
}
.late-h3 {
  width: 100%;
}
.late-h4 {
  width: 100%;
}
.left-late {
  width: 25%;
  /* border: 4px solid hotpink; */
}

.right-late{
  /* border: 4px solid sienna; */
  width: 70%;
} 

.right-auth-cont{
  width: 50%;
  /* border: 4px solid saddlebrown; */
}

.h22{
font-size: 18.3px;
font-family:  cascadia-code;
line-height: 18px;
}

.ddate{
  /* border: 4px solid gold; */
font-size: 15.3px;
font-family:  cascadia-code;
line-height: 30px;
}


.imgs-tra{
width: 40%;
}

ul {
  font-family: "Cascadia Code", sans-serif;
}

.tech{
width: 100%;
}


.right-late-h2 {
  width: 100%;
  padding-top: 10px;

  font-family: "Cascadia Code";
  font-weight: 600;
  font-size: 29.4044px;
  line-height: 34px;
  color: #3e71d4;
}



#all {
  color: #ffffff;
  background: #192d55;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 24px;
  /* margin-bottom: 50px; */
}
#all:hover{
  background: #3e71d4;
}
.btn-all {
  padding: 8px 12px;
  margin-bottom: 50px;
}
.mon {
  color: #555555;
  font-size: 24px;
  /* padding-left: 40px; */
  padding: 8px 14px 8px 16px;
  /* padding-bottom: 8px; */
}
.mon:hover{
  color: #3e71d4;
}
.late:hover{
  color: #3e71d4;
}
.auth-main {
  /* border: 5px solid blue; */
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  font-family: "Cascadia Code";
/* border: 3px solid blue; */
  font-weight: 600;
  font-size: 8.95109px;
  line-height: 14px;
}

.p-img{
  width: 44%;
}

.imge{
  width: 18%;
}


/* .auth-main-top{
border: 3px solid violet;
width: 100%;
} */
.imgg{
  width: 18%;
}

.auth-main:hover{
  transform: translateY(-5px);
  box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.25);
}
.auth-name {
  font-family: "Cascadia Code";
  font-weight: 400;

font-size: 0.7em;
  line-height: 1.4rem;
  color: #000000;
}
.auth-date {
  font-family: "Cascadia Code";

  font-weight: 400;
  font-size: 0.6em;
  line-height: 0.8rem;
  display: flex;
  align-items: center;

  color: #6c757d;
}

.auth-left-cont {
  display: flex;
  width: 100%;
  /* border: 3px solid firebrick; */
  flex-direction: column;
  padding-left: 5px;
}



.auth-late {
  display: flex;
  padding-top: 5px;
}
.auth-time {
  /* border: 3px solid gold; */
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 20.71px;
  line-height: 40px;
  color: #808080;
  padding-left: 5px;
}



 .late-h4{
color:#192d55;
/* border: 4px solid red; */
font-size: 1.4em;
cursor: pointer;
line-height: 1rem;
}
.right-late-h2:hover{
  color:#192d55;
  cursor: pointer;
}
.right-late:hover{
  transform: translateY(-5px);
  box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.auth-main-top:hover{
  transform: translateY(-5px);
  box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.art:hover{
  transform: translateY(-5px);
  box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.top-big-h2:hover{
  color:#192d55;
  cursor: pointer;
}
.categ-sec a:hover{
  box-shadow: 0px 0px 0px  rgba(182, 178, 178, 0.25);
  cursor: pointer;
}
h3 {
  color: #333333;
  font-weight: 400;
  font-size: 14.71px;
}

.auth-right-late {
  display: flex;
}


/* CSS for Last section */
.last-nav {
  
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.top-h2 {
  font-family: "Cascadia Code";
  font-weight: 600;
  font-size: 32px;
  line-height: 37px;
  color: #555555;
  border-bottom:   1px solid #3e71d4;
}
.top-last-h2 {
  font-family: "Cascadia Code";
  font-style: normal;
  font-weight: 600;
  font-size: 1.4em;
  line-height: 1rem;
  color: #3e71d4;
}
.top-big-h2 {
  /* border: 3px solid gold; */
  font-family: "Cascadia Code";
  font-weight: 600;
  font-size: 17.3359px;
  line-height: 22px;
  color: #3e71d4;
  width: 100%;
}

.top-big-h22 {
  /* border: 3px solid gold; */
  font-family: "Cascadia Code";
  font-weight: 600;
  font-size: 17.3359px;
  line-height: 22px;
  color: #3e71d4;
  width: 80%;
}

.art-die{
  width: 100%;
}

.f-exercise{
width: 100%;
}

.auths-name {
  font-family: "Cascadia Code";
  font-style: normal;
  font-weight: 400;
  font-size: 11.854px;
  line-height: 20px;
  color: #000000;
}
.auths-date {
  font-family: "Cascadia Code";
  font-style: normal;
  font-weight: 400;
  font-size: 11.854px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #6c757d;
}
/* 
#top-post{
    border-bottom: 1px solid #3E71D4; 
}
#gory{
    border-bottom: 1px solid #3E71D4;
} */

.top-container {
  /* border: 4px solid fuchsia; */
  width: 100%;
  margin-top: 50px;
}
 .main-top {
  display: flex;
  width: 95%;
  /* border: 5px solid black; */
} 

.first-p{
  /* border-bottom: 1px solid #3e71f4; */
  width: 55%;
}

.second-p{
width: 42%;
}

.top-left {
  width: 50%;
}
.top-card {
  padding-bottom: 20px;
  /* margin-top: 20px; */
}
.auth-top {
  display: flex;
  padding-top: 10px;
}
.auth-top-time {
  display: flex;
  flex-direction: column;
}
.top-right {
  width: 50%;
  margin-left: 20px;
  /* border-top: 1px solid #3E71D4; */
}
.top-left-cred {
  display: flex;
  padding-top: 15px;
}
.top-left-time {
  padding-left: 10px;
}

.main-top{
  display: flex;
}


/* .top-categ-cont {
  display: flex;
  border: 5px solid gold;
  flex-direction: column;
  
  margin-top: 20px;
} */

.see-categ {
  display: flex;
  justify-content: flex-end;
  font-family: "Cascadia Code", sans-serif;
}
#see-txt {
  font-family: "Cascadia Code", sans-serif;
  color: #333333;
}
#see-txt:hover{
  color: #3e71d4;
}

.cat-img{
  width: 100%;
}

.categ-sec {
  /* border: 4px solid  brown; */
  display: flex;
  flex-direction: column;
  /* border-top: 4px solid blue; */
  /* margin-left: 10px; */
}
.girl-img-m{
  display: none;
}







/* Css for footer */



.down-div{
  margin: auto;
  /* border: 3px solid red; */
  width: 100%;
}

.down{
  /* border: 4px solid red; */
  position: absolute;
  /* margin: auto; */
  width: 98%;
  margin-top: 40px;
}

.ffoooter{
  display: block;
}


.ffooter {
  width: 100%;
  background-image: url(images/wave.png);
  background-repeat: no-repeat;
  background-color: #315aa9;
  display: flex;
  justify-content: space-around;
  /* grid-template-columns: 1fr 1fr 1fr; */
  color: #fff;
  /* padding: 3em 1em; */
  padding-top: 3em;
  padding-bottom: 3em;
  /* margin-top: 30px; */
  font-family: "Cascadia Code", Consolas, "Courier New", monospace;
  /* min-height: 40vh; */
}


.logo-div-footer {
  margin-bottom: 1em;
}

h4 {
  margin-bottom: 1em;
}

.social {
  font-family: "Lora", sans-serif;
  font-weight: 700;
}

.fa-brands {
  margin-right: 1em;
}

.fa-brands:hover {
  color: rgba(170, 170, 170, 1);
}
.footer-ul {
  display: block;
}
.footer-li {
  margin-bottom: 1em;
  list-style: none;
}
.footer-link {
  color: #fff;
  margin-bottom: 1em;
}
.footer-link:active {
  color: rgba(85, 85, 85, 1);
}

input {
  width: 80%;
  padding: 1em 2em;
  border: none;
  border-bottom-left-radius: 0.5em;
  border-top-left-radius: 0.5em;
  /* border-radius: 0.5rem; */
  font-family: "Cascadia Code", Consolas, "Courier New", monospace;
  position: relative;
}

input:placeholder-shown {
  color: rgba(170, 170, 170, 1);
  letter-spacing: 1.1px;
}

.footer-btn {
  /* border: 3px solid yellow; */
  position: absolute;
  right: 4rem;
  border: 41px solid yellowgreen;
  background-color: #000;
  color: #fff;
  padding: 1em;
  border: none;
  border-radius: 1rem;
  width: 10%;
  font-family: "Cascadia Code", sans-serif;
}

.footer-btn:hover,
.footer-btn:active {
  transform: translateX(3px);
}


.wrapper {
  height: 80vh;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.back {
  margin-top: 15px;
  background-color: #192d55;
  color: white;
  padding: 0.5rem 1rem;
  font-family: 'cascadia-code', sans-serif;
  text-decoration: none;
  border-radius: 5px;
}

.exp-a{
  color:#fff ;
}


.hidden-footer{
  background-color: #315aa9;
  display: none;
}






















@media screen and (max-width:1255px) {

.trend-container {
  /* border: 5px solid green; */
   display: grid;
     grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
   width: 100%;
   gap: 30px;
  padding-top: 2.5rem;
}
  
}


@media screen and (max-width:1011px) {

.trend-container {
  /* border: 5px solid green; */
   display: grid;
     grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
   width: 100%;
   gap: 30px;
  padding-top: 2.5rem;
}
  
}



















/* mobile view */


@media (max-width: 500px) {

  body {
  background-color: #ffffff;
  width: 100%;
  /* border: 4px solid red; */
}

.body-cont {
  padding-left: 0px;
    padding-right: 0px;
}

label {
  width: 55px;
  height: 30px;
  right: 20px;
  top: 19px;
}

label:before {
  width: 25px;
  height: 25px;
  border-radius: 53%;

}

.hamburger-menu{
  /* border: 3px solid blue; */
  display: block;
  margin-right: 15px;
  /* width: 100%; */
}

.nav-div-2{
  display: block;
}


/* The sidepanel menu */
.sidepanel {
  height: 95%; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  background-color: #fff;
  padding: 0px;
  left: 0; 
  overflow-x: hidden; 
  padding-top: 0px; 
  transition: 0.5s;
}


/* The sidepanel links */
.sidepanel a {
   padding: 15px 0px 10px 25px; 
   /* border: 4px solid yellow; */
  text-decoration: none;
  font-size: 20px;
  /* color: #818181; */
  text-align: left;
  color: #555555;
  display: block;
  overflow: hidden;
  transition: 0.9s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #f1f1f1;
}



/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  /* position: absolute; */
  top: 0;
  left: 0px;
  /* right: 0px; */
  font-size: 36px;
  margin-left: 20px;
  /* width: 100%; */
}

.side-btn{
  padding: 7px 15px 7px 15px;
  font-size: 17px;
  line-height: 25px;
  margin-left: 10px;
  margin-top: 15px;
  border-radius: 12px;
  background: #0f1b33;
  color: #fff;
}

.special-a{
  padding: 0px;
  border: 15px solid red;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  /* font-size: 20px; */
  display: block;
  cursor: pointer;
  background:none;
  color: white;
  /* padding: 10px 15px; */
  border: none;
  /* border: 4px solid green; */
}

.openbtn:hover {
  /* background-color: #444; */
}

.closebtn{

}

.close{
width: 10%;
}





.side-link{
  /* border: 4px solid blueviolet; */

  /* padding-top: 50px; */
}

.logo-div-header{
  width: 70%;
}

.logo-div{
  width: 100%;
  /* border: 4px solid red; */
  /* width: 100%; */
}

nav {
margin: 15px;
}

.nav-list {
  width: 100%;
}
.nav-list-div {
    display: none;
}

.header-cont {
  /* border: 4px solid gold; */
  display: flex;
  flex-direction: column-reverse;
  /* position: relative; */
  /* top: 190px; */
  justify-content: center;
  align-items: center;
}



.up-div{
  margin: auto;
  /* border: 3px solid red; */
  width: 10%;
  
}



.up{
  /* border: 4px solid red; */
  position: absolute;
  /* margin: auto; */
  width: 100%;
  transform: rotate(20deg);
  bottom: 0px;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 0;
}



.girl-img{
  width: 80%;
  /* border: 5px solid red; */
  position: relative;
  top: 0px;
  /* margin-right: 40px; */
  /* padding-top: 10px; */
  margin-top: 30px;
}

.girl-g{
  width: 100%;
}


.true-content {
  /* border: 4px solid yellow; */
  width: 100%;
  margin-top: 10px;
  padding: 20px;
}

.true-h1 {
  font-weight: 600;
  font-size: 38px;
  text-align: center;
  line-height: 38px;
  margin: auto;
  color: #ffffff;
  width: 85%;
  font-family:  cascadia-code;
}


.true-p {
  /* border: 4px solid saddlebrown; */
  margin: auto;
  text-align: center;
  font-weight: 400;
  font-size: 13px;
  width: 70%;
  line-height: 17px;
  padding-top: 14px;
  font-family: "Cascadia Code", sans-serif;
}


.write-btn {
  border: 4px solid red;
  display:flex ;
  padding: 10px 70px;

  border-radius: 13px;
  border: #192d55;
  margin: auto;
  margin-top: 26px;
}
.write-btn:hover{
  background: #4A87FE;
}
.write-txt {
  font-family: "Cascadia Code", sans-serif;
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
}


.trend-main-nav{
  border-bottom: none;
  width: 93%;
  margin: auto;
}


.trend-nav {
  /* border: 5px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
   padding-top: 10px;
   padding-bottom: 10px;
  /* border-bottom: 1px solid  #AAAAAA;  */
}

.t-wave-h2 {
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  color: #555555;
}

.arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0px;
}

.left-arr {
  /* border: 1px solid #192d55; */
  width: 50%;

}

 .right-arr{
  width: 50%;
} 

.btn-left {
  border: 1px solid #192d55;
  border-radius: 15%;
  padding: 0px 0px;
  margin-right: 10px;
}



.btn-right {
  background-color: #192d55;
  border: 1px solid #192d55;
  border-radius: 15%;
  padding: 0px 0px;
} 

.trend-container {
  /* border: 5px solid green; */
   display: flex;
   flex-direction: column;
   width: 95%;
   margin: auto;
  justify-content: space-between;
  padding-top: 0.7rem;
  /* padding-left: 20px; */
}

 .sec-trend1{
  display: block;
  width: 100%;
} 

.sec-trend2{
  display: block;
  width: 100%;
}

 .sec-trend3{
  display: block;
  width: 100%;
} 

.sec-trend4{
  display: block;
  width: 100%;
}

.dest {
  padding-top: 0.8rem;
  width: 100%;
  font-size: 1.5em;
  line-height: 1.8rem;
  /* border: 4px solid red; */
}

.p1-trend{
 padding-top: 0.8rem;
  margin-bottom: 1rem;
  width: 100%;
 font-size: 0.9em;
  line-height: 1.2rem;
}

.p2-trend {
 
 padding-top: 0.9rem;
   margin-bottom: 1rem;
  width: 100%;
 font-size: 1em;
  line-height: 1.2rem;
}

.p3-trend {
  margin-bottom: 1rem;
  width: 100%;
   padding-top: 0.8rem;
 font-size: 0.9em;
  line-height: 1.2rem;
}

.auth-cont2 {
  display: flex;
  align-content: center;
  align-items: center;
  padding-top: 0px;
  margin-top: auto;
  border: 4px solid red;
}
.auth-cont3 {
  display: flex;
  align-items: center;
  align-content: center;
  padding-top: 0px;
  margin-top: auto;
    border: 4px solid red;
}

.auth-right {
  /* border: 3px solid red; */
  display: flex;
  flex-direction: column;
  padding-left: 7px;
  padding-top: 5px;
  
}

.ngozi{
  width: 22%;
}

.karen2{
  width: 22%;
 
}

.k-h3{
font-size: 10px;
font-weight: bolder;
line-height: 22px;
}

.k-p{
font-size: 7px;
}

.latest-sec{
  /* border: 4px solid greenyellow; */
  width: 95%;
  /* border: 4px solid gold; */
  margin: auto;
  }
  

.latest-nav {
  /* border: 4px dotted firebrick; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  list-style: none;
  padding-top: 40px;
  color: #555555;
}

.left-nav{
  /* border: 3px solid blueviolet; */
}

.late {
  color: #555555;
  font-size: 21px;
  line-height: 24px;
    text-align: left;
    font-family: "Cascadia Code", sans-serif;
}


.right-nav{

  padding-top: 15px;
    display: flex;
  justify-content: space-between;
  text-align: center;

}

.mon {
  color: #555555;
  font-size: 20px;  
  padding: 8px 0px 8px 0px;

}


#all {
  color: #ffffff;
  background: #192d55;
  padding: 8px 12px;

  /* padding-left: 0px; */
  border-radius: 3px;
  font-size: 20px;
}


.latest-container {
  /* border: 3px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 25px;
  /* border: 3px solid black; */
  width: 100%;
}

.left-late{
  /* border: 4px solid green; */
  width: 100%;
  margin: auto;
}

.imgs-tra{
  width: 90%;
}

.late-h1 {
  width: 100%;
    font-family: "Cascadia Code";
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  color: #3e71d4;
}
.late-h2 {
  width: 100%;
    font-family: "Cascadia Code";
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  color: #3e71d4;
}
.late-h3 {
  width: 100%;
    font-family: "Cascadia Code";
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  color: #3e71d4;
}
.late-h4 {
  width: 100%;
    font-family: "Cascadia Code";
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  color: #3e71d4;
}

.auth-main:hover{
  transform: none;
  box-shadow: none;
}

.right-late{
  display: none;
}

.top-container {
  /* border: 4px solid fuchsia; */
  width: 95%;
  padding-top: 25px;
  margin: auto;
}
.last-nav {
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.top-h2 {
  padding-bottom: 11px;
  font-family: "Cascadia Code";
  font-weight: 600;
  font-size: 32px;
  line-height: 37px;
  text-align: left;
  color: #555555;
  border-bottom:   1px solid #3e71d4;
}

.first-p{
  width: 100%;
}

 .main-top {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}

.top-left {
  width: 100%;
}

.f-exercise{
width: 100%;
}

.top-big-h2 {
  font-family: "Cascadia Code";
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #3e71d4;
  width: 90%;
  text-align: left;
}

.p-img{
  width: 90%;
}
.top-last-h2 {
  font-family: "Cascadia Code";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  color: #3e71d4;
}

.top-right {
  width: 100%;
  margin: auto;
  

}

.pp-img{
  width: 87%;
}

.auth-name {
  font-family: "Cascadia Code";
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
}

.auth-main-top:hover{
  transform: none;
  box-shadow: none;
  cursor: pointer;
}


.auth-date {
  font-family: "Cascadia Code";

  font-weight: 400;
  font-size: 11px;
  line-height: 7px;
  display: flex;
  align-items: center;

  color: #6c757d;
}
.top-big-h22 {
  /* border: 3px solid gold; */
  font-family: "Cascadia Code";
  font-weight: 600;
  font-size: 21px;
  line-height: 25px;
  color: #3e71d4;
  width: 80%;
}



.second-p{
display: none;
}

.ffoooter{
  display: none;
}

.hidden-footer{
  display: block;
  width: 100%;
  /* border: 5px solid red; */
    padding: 15px;
    margin-top: 25px;
}


.downn{
  /* border: 4px solid wheat; */
  display: none;
 
}
.first-upp{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  /* border: 3px solid black; */
}

.last-h44{
  color: #fff;
  line-height: 25px;
}

.sub{
  background-color: #0f1b33;
    position: absolute;
  right: 18px;
  color: #fff;
  padding: 0.6rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.2em;
  width: 30%;
  font-family: "Cascadia Code", sans-serif;

}

.last-sub{
  /* border: 3px solid red; */

  width: 100%;
}

.inputtt{
  width: 70%;
}

}


















@media (max-width: 700px) {

.nav-list-div {
    display: none;
}


label {
  width: 55px;
  height: 30px;
  right: 50px;
  top: 19px;
}

label:before {
  width: 25px;
  height: 25px;
  border-radius: 53%;

}

.hamburger-menu{
  /* border: 3px solid blue; */
  display: block;
  margin-right: 15px;
  /* width: 100%; */
}

.nav-div-2{
  display: block;
}


/* The sidepanel menu */
.sidepanel {
  height: 95%; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  background-color: #fff;
  padding: 0px;
  left: 0; 
  overflow-x: hidden; 
  padding-top: 0px; 
  transition: 0.5s;
}


/* The sidepanel links */
.sidepanel a {
   padding: 15px 0px 10px 25px; 
   /* border: 4px solid yellow; */
  text-decoration: none;
  font-size: 20px;
  /* color: #818181; */
  text-align: left;
  color: #555555;
  display: block;
  overflow: hidden;
  transition: 0.9s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #f1f1f1;
}



/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  /* position: absolute; */
  top: 0;
  left: 0px;
  /* right: 0px; */
  font-size: 36px;
  margin-left: 20px;
  /* width: 100%; */
}

.side-btn{
  padding: 7px 15px 7px 15px;
  font-size: 17px;
  line-height: 25px;
  margin-left: 10px;
  margin-top: 15px;
  border-radius: 12px;
  background: #0f1b33;
  color: #fff;
}

.special-a{
  padding: 0px;
  border: 15px solid red;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  /* font-size: 20px; */
  display: block;
  cursor: pointer;
  background:none;
  color: white;
  /* padding: 10px 15px; */
  border: none;
  /* border: 4px solid green; */
}

.openbtn:hover {
  /* background-color: #444; */
}

.closebtn{

}

.close{
width: 10%;
}





.side-link{
  /* border: 4px solid blueviolet; */

  /* padding-top: 50px; */
}

.logo-div-header{
  width: 70%;
}

.logo-div{
  width: 100%;
  /* border: 4px solid red; */
  /* width: 100%; */
}

}
