@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("http://fonts.cdnfonts.com/css/cascadia-code");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #ffffff;
  width: 100%;
  /* border: 4px solid red; */

  /* margin: 0 auto;
    justify-content: center; */
}
.body-cont {
  /* margin: 0 30px; */
  border: 4px solid red;
}
h1,
h2,
h3,
h4 {
  font-family: "Cascadia Code", sans-serif;
}
p {
  font-family: "Open Sans", sans-serif;
}

/* CSS for Theme mode */
label {
  position: absolute;
  width: 45px;
  height: 27px;
  right: 40px;
  top: 32px;
  border: 2px solid #192d55;
  border-radius: 20px;
}
label:before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  left: 1px;
  top: 1px;
  border-radius: 50%;
  background: #192d55;
  cursor: pointer;
  transition: 0.4s;
}
label.active:before {
  left: 24px;
  background: #fff;
}
body.night {
  background: #000;
  color: #fff;
}

/* End of css for theme mode */




.logo-div-header{
  display: flex;
  flex-shrink: 0;
}

nav {
  display: flex;
  margin: 1em 3em 0.5em 3em;
  align-items: center;
  font-size: 1.2rem;
}
.nav-list {
  width: 100%;
}
.nav-list-div {
  margin: 0 auto;
  display: flex;
  align-items: center;
  width: 100%;
}
.header-ul {
  margin: 0 auto;
}
.left {
  margin-left: auto;
  align-items: center;
}
ul {
  list-style: none;
  display: flex;
}
a {
  text-decoration: none;
}
a:hover {
  /* text-decoration: underline; */
}
.header-list {
  margin-left: 2em;
}
.header-list-left {
  margin-right: 1em;
  margin-top: 0.3em;
}
.header-link {
  color: rgba(85, 85, 85, 1);
  text-decoration: none;
}
/* .header-list:active {
  color: rgba(25, 45, 85, 1);
} */

.about {
  border-bottom: 2px solid rgba(62, 113, 212, 1);
}
.header-btn {
  background-color: rgba(25, 45, 85, 1);
  color: #fff;
  padding: 0.4em 1em;
  border: none;
  border-radius: 12px;
  font-family: "Cascadia Code", Consolas, "Courier New", monospace;
  font-size: 1.2rem;
}
.header-btn:hover {
  opacity: 0.8;
  transform: translateY(-3px);
}
.fa-bars {
  display: none !important;
}











/* Css for main nav */







/* Css for header */
header {
  width: 100%;
  display: block;
  /* background-image: url("/land\ imgs/true-wave-group.svg"); */
  /* width: 100%;
  position: relative; */
}

.header-box {
  width: 99%;
  height: auto;
  /* margin-bottom: 50px; */
  margin: 0 auto;
  /* padding-top: 60px; */
  /* position: relative; */
  background-color: #3e71d4;
}
.header-box-m{
  display: none;
}
/* .wave {
  width: 50%;
  position: absolute;
  border: 14px solid red;
} */

.header-cont {
  /* border: 4px solid gold; */
  display: flex;
  flex-direction: row;
  /* position: relative; */
  /* top: 190px; */
  justify-content: center;
  align-items: center;
}

.true-content {
  /* border: 4px solid red; */
  width: 55%;
  margin-top: 90px;
  padding-top: 60px;
  padding-bottom: 50px;
  /* margin-bottom: 90px; */
  padding-left: 40px;
  /* margin-top: -80px; */
  /* margin-left: 90px; */
}

.girl-img{
  width: 45%;
  /* border: 5px solid red; */
  position: relative;
  top: 80px;
  /* margin-right: 40px; */
  /* padding-top: 10px; */
  /* margin-top: -120px; */
}

.girl-g{
  width: 100%;
}

.true-h1 {
  font-weight: 600;
  font-size: 60px;
  text-align:left;
  line-height: 74px;
  color: #ffffff;
  width: 100%;
  color: #ffffff;
  font-family:  cascadia-code;
  
}

.true-p {
  color: #ffffff;
  font-weight: 400;
  font-size: 24px;
  width: 80%;
  line-height: 29px;
  padding-top: 20px;
  font-family: "Cascadia Code", sans-serif;
}
.true-content {
  /* position: absolute; */
  /* width: 100%; */
  /* bottom: -15px; */
  /* right: 330px; */
}
.write-btn {
  padding: 20px 60px;
  background: #192d55;
  border-radius: 25px;
  border: #192d55;
  margin-top: 30px;
}
.write-btn:hover{
  background: #4A87FE;
}
.write-txt {
  font-family: "Cascadia Code", sans-serif;
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
}

/* Css for trending */
.trend-nav {
  display: flex;
  justify-content: space-between;
   margin-top: 60px;
   margin-bottom: 10px;
  /* border-bottom: 1px solid  #AAAAAA;  */
}
.trend-main-nav{

  border-bottom: 1px solid  #AAAAAA;
}

.t-wave-h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 37px;
  color: #555555;
}

.arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.left-arr {
  /* border: 1px solid #192d55; */
  width: 100%;
}
.left-arrow {
  /* border: 1px solid #192d55;   */
}
.right-arrow {
  /* margin-right: 20px; */
  /* border: 1px solid #192d55;  */
}

.btn-right {
  background-color: #192d55;
  border: 1px solid #192d55;
  border-radius: 15%;
  display: flex;

  align-items: flex-start;
  padding: 7px 16px;
  gap: 10px;

  width: 60px;
  height: 39px;
}
.btn-right:hover{
  background: #4A87FE;
  
}
.btn-left:hover{
  background: #4A87FE;
}
.btn-left {
  border: 1px solid #192d55;
  border-radius: 15%;
  padding: 7px 16px;
  margin-right: 10px;
}
.trend-container {
  /* border: 5px solid green; */
   display: flex;
   width: 100%;
  justify-content: space-between;
  padding-top: 25px;
  /* padding-left: 20px; */
}
.rich{
  /* width: 378.91px;
  height: 343.62px; */
}
.sec-trend {
  /* border: 3px solid gold; */
 width: 30.3%;
 /* display: flex; */
 /* justify-content: space-between; */
 /* display: grid; */
} 

.dream{
  width: 100%;
}
.sec-trend:hover{
  transform: translateY(-5px);
  box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.25);
  /* box-shadow: 0 0 0 #4a4a4a;
  opacity: 0.5; */
}

/* .trend-card{
border: 4px solid limegreen;
} */


.p1-trend {
  width: 90%;
  padding-top: 39px;
  font-size: 14.71px;
  line-height: 18.39px;
  color: #555555;
  font-weight: 600;
}

.p2-trend {
  padding-top: 20px;
  width: 90%;
  font-size: 14.71px;
  line-height: 18.39px;
  color: #555555;
  font-weight: 600;
}

.p3-trend {
  width: 90%;
  padding-top: 20px;
  font-size: 14.71px;
  line-height: 18.39px;
  color: #555555;
  font-weight: 600;
} 


.dest,
.dest2,
.dest3 {
  font-family: "Cascadia Code";
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #3e71d4;
}
.dest {
  padding-top: 15px;
  width: 90%;
}
.dest:hover{
 color: #192d55;
}
/* .dest2 {
  padding-top: 10px;
  width: 100%;
}
.dest3 {
  padding-top: 10px;
} */
.auth-cont {
  display: flex;
  padding-top: 70px;
  align-items: center;
}
.auth-cont2 {
  display: flex;
  padding-top: 65px;
}
.auth-cont3 {
  display: flex;
  padding-top: 30px;
}
.auth-right {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}
.auth-right-late {
  padding-top: 15px;
  font-family: "Cascadia Code";
}
.auth-right-time {
  padding-left: 5px;
  font-family: "Cascadia Code";
}


.latest-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  /* border: 3px solid black; */
  width: 100%;
}

.latest-sec{
  /* border: 4px solid greenyellow; */
  width: 100%;
  }
  
.latest-nav {
  /* border: 4px dotted firebrick; */
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  list-style: none;
  padding-top: 70px;
  color: #555555;
}
.late-h1,
.late-h2,
.late-h3,
.late-h4 {
  font-family: "Cascadia Code";
  font-weight: 600;
  font-size: 8.95109px;
  line-height: 10px;
  color: #3e71d4;
}
.late-h1 {
  width: 100%;
}
.late-h2 {
  width: 100%;
}
.late-h3 {
  width: 100%;
}
.late-h4 {
  width: 100%;
}
.left-late {
  width: 25%;
  /* border: 4px solid hotpink; */
}

.right-late{
  /* border: 4px solid sienna; */
  width: 70%;
} 

.right-auth-cont{
  width: 50%;
  /* border: 4px solid saddlebrown; */
}

.h22{
font-size: 18.3px;
font-family:  cascadia-code;
line-height: 18px;
}

.ddate{
  /* border: 4px solid gold; */
font-size: 15.3px;
font-family:  cascadia-code;
line-height: 30px;
}


.imgs-tra{
width: 40%;
}

ul {
  font-family: "Cascadia Code", sans-serif;
}

.tech{
width: 100%;
}

.right-nav {
  display: flex;
  justify-content: center;
  text-align: center;
}
.right-late-h2 {
  width: 100%;
  padding-top: 10px;

  font-family: "Cascadia Code";
  font-weight: 600;
  font-size: 29.4044px;
  line-height: 34px;
  color: #3e71d4;
}
.late {
  color: #555555;
  font-size: 24px;
}

#all {
  color: #ffffff;
  background: #192d55;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 24px;
  /* margin-bottom: 50px; */
}
#all:hover{
  background: #3e71d4;
}
.btn-all {
  padding: 8px 12px;
  margin-bottom: 50px;
}
.mon {
  color: #555555;
  font-size: 24px;
  /* padding-left: 40px; */
  padding: 8px 14px 8px 16px;
  /* padding-bottom: 8px; */
}
.mon:hover{
  color: #3e71d4;
}
.late:hover{
  color: #3e71d4;
}
.auth-main {
  /* border: 5px solid blue; */
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  font-family: "Cascadia Code";
/* border: 3px solid blue; */
  font-weight: 600;
  font-size: 8.95109px;
  line-height: 14px;
}

.p-img{
  width: 44%;
}


/* .auth-main-top{
border: 3px solid violet;
width: 100%;
} */

.auth-main:hover{
  transform: translateY(-5px);
  box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.25);
}
.auth-name {
  font-family: "Cascadia Code";
  font-weight: 400;

  font-size: 5.48752px;
  line-height: 9px;
  color: #000000;
}
.auth-date {
  font-family: "Cascadia Code";

  font-weight: 400;
  font-size: 5.48752px;
  line-height: 7px;
  display: flex;
  align-items: center;

  color: #6c757d;
}

.auth-left-cont {
  display: flex;
  width: 100%;
  /* border: 3px solid firebrick; */
  flex-direction: column;
  padding-left: 5px;
}

/* 
 .auth-leftt-contt {
  display: flex;
  width: 40%;
  border: 3px solid firebrick;
  flex-direction: column;
  padding-left: 5px;
}  */
 

.auth-late {
  display: flex;
  padding-top: 5px;
}
.auth-time {
  /* border: 3px solid gold; */
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 20.71px;
  line-height: 40px;
  color: #808080;
  padding-left: 5px;
}
.late-h1:hover, .late-h2:hover, .late-h3:hover, .late-h4:hover{
color:#192d55;
font-size: 10px;
cursor: pointer;
}
.right-late-h2:hover{
  color:#192d55;
  cursor: pointer;
}
.right-late:hover{
  transform: translateY(-5px);
  box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.auth-main-top:hover{
  transform: translateY(-5px);
  box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.art:hover{
  transform: translateY(-5px);
  box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.top-big-h2:hover{
  color:#192d55;
  cursor: pointer;
}
.categ-sec a:hover{
  box-shadow: 0px 0px 0px  rgba(182, 178, 178, 0.25);
  cursor: pointer;
}
h3 {
  color: #333333;
  font-weight: 400;
  font-size: 14.71px;
}

.auth-right-late {
  display: flex;
}

/* CSS for Last section */
.last-nav {
  
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.top-h2 {
  font-family: "Cascadia Code";
  font-weight: 600;
  font-size: 32px;
  line-height: 37px;
  color: #555555;
  border-bottom:   1px solid #3e71d4;
}
.top-last-h2 {
  font-family: "Cascadia Code";
  font-style: normal;
  font-weight: 600;
  font-size: 8.95109px;
  line-height: 10px;
  color: #3e71d4;
}
.top-big-h2 {
  /* border: 3px solid gold; */
  font-family: "Cascadia Code";
  font-weight: 600;
  font-size: 17.3359px;
  line-height: 22px;
  color: #3e71d4;
  width: 100%;
}

.top-big-h22 {
  /* border: 3px solid gold; */
  font-family: "Cascadia Code";
  font-weight: 600;
  font-size: 17.3359px;
  line-height: 22px;
  color: #3e71d4;
  width: 80%;
}

.art-die{
  width: 100%;
}

.f-exercise{
width: 100%;
}

.auths-name {
  font-family: "Cascadia Code";
  font-style: normal;
  font-weight: 400;
  font-size: 11.854px;
  line-height: 20px;
  color: #000000;
}
.auths-date {
  font-family: "Cascadia Code";
  font-style: normal;
  font-weight: 400;
  font-size: 11.854px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #6c757d;
}
/* 
#top-post{
    border-bottom: 1px solid #3E71D4; 
}
#gory{
    border-bottom: 1px solid #3E71D4;
} */

.top-container {
  /* border: 4px solid fuchsia; */
  width: 100%;
  margin-top: 50px;
}
 .main-top {
  display: flex;
  width: 95%;
  /* border: 5px solid black; */
} 

.first-p{
  /* border-bottom: 1px solid #3e71f4; */
  width: 58%;
}

.second-p{
/* border: 4px solid yellow; */

width: 35%;
/* margin-left: px; */
}

.top-left {
  width: 50%;
  /* border: 3px solid gold; */
  /* border-top: 1px solid #3e71d4; */
}
.top-card {
  padding-bottom: 20px;
  /* margin-top: 20px; */
}
.auth-top {
  display: flex;
  padding-top: 10px;
}
.auth-top-time {
  display: flex;
  flex-direction: column;
}
.top-right {
  width: 50%;
  margin-left: 20px;
  /* border-top: 1px solid #3E71D4; */
}
.top-left-cred {
  display: flex;
  padding-top: 15px;
}
.top-left-time {
  padding-left: 10px;
}

.main-top{
  display: flex;
}


/* .top-categ-cont {
  display: flex;
  border: 5px solid gold;
  flex-direction: column;
  
  margin-top: 20px;
} */

.see-categ {
  display: flex;
  justify-content: flex-end;
  font-family: "Cascadia Code", sans-serif;
}
#see-txt {
  font-family: "Cascadia Code", sans-serif;
  color: #333333;
}
#see-txt:hover{
  color: #3e71d4;
}

.cat-img{
  width: 100%;
}

.categ-sec {
  /* border: 4px solid  brown; */
  display: flex;
  flex-direction: column;
  /* border-top: 4px solid blue; */
  /* margin-left: 10px; */
}
.girl-img-m{
  display: none;
}
/* Css for footer */

footer {
  background-image: url(images/wave.png);
  background-repeat: no-repeat;
  background-color: #315aa9;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: #fff;
  padding: 3em 1em;
  margin-top: 30px;
  font-family: "Cascadia Code", Consolas, "Courier New", monospace;
  min-height: 40vh;
}
.logo-div-footer {
  margin-bottom: 1em;
}
h4 {
  margin-bottom: 1em;
}
.social {
  font-family: "Lora", sans-serif;
  font-weight: 700;
}
.fa-brands {
  margin-right: 1em;
}
.fa-brands:hover {
  color: rgba(170, 170, 170, 1);
}
.footer-ul {
  display: block;
}
.footer-li {
  margin-bottom: 1em;
  list-style: none;
}
.footer-link {
  color: #fff;
  margin-bottom: 1em;
}
.footer-link:active {
  color: rgba(85, 85, 85, 1);
}
input {
  width: 80%;
  padding: 1em 2em;
  border: none;
  border-radius: 0.5rem;
  font-family: "Cascadia Code", Consolas, "Courier New", monospace;
  position: relative;
}
input:placeholder-shown {
  color: rgba(170, 170, 170, 1);
  letter-spacing: 1.1px;
}
.footer-btn {
  position: absolute;
  right: 7em;
  background-color: #000;
  color: #fff;
  padding: 1em;
  border: none;
  border-radius: 1rem;
  width: 10%;
  font-family: "Cascadia Code", Consolas, "Courier New", monospace;
}
.footer-btn:hover,
.footer-btn:active {
  transform: translateX(3px);
}


.wrapper {
  height: 80vh;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.back {
  margin-top: 15px;
  background-color: #192d55;
  color: white;
  padding: 0.5rem 1rem;
  font-family: 'cascadia-code', sans-serif;
  text-decoration: none;
  border-radius: 5px;
}


















/* mobile view */