@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("http://fonts.cdnfonts.com/css/cascadia-code");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
/* html {
  scroll-behavior: smooth;
} */
body {
background-color: var(--bg-color1);
/* border: 5px solid red; */
}
image {
  max-width: 100%;
}
.about-header {
  font-family: "Cascadia Code", Consolas, "Courier New", monospace;
  /* border: 5px solid red; */

width: 100%;
}

.about-pp{
  color: #555555;
}







.logo-div-header{
  display: flex;
  flex-shrink: 0;
}

nav {
  display: flex;
  justify-content: space-between;
background-color: var(--bg-color1);
  /* margin: 1em 3em 0.5em 3em; */
padding: 1em 1em 1em 1.5em;
  align-items: center;
  font-size: 1.2rem;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;

}
.nav-list {
  width: 100%;
}
.nav-list-div {
  margin: 0 auto;
  display: flex;
  align-items: center;
  width: 100%;
}
.header-ul {
  margin: 0 auto;
}
.left {
  margin-left: auto;
  align-items: center;
}
ul {
  list-style: none;
  display: flex;
}
a {
  text-decoration: none;
}
a:hover {
  /* text-decoration: underline; */
}
.header-list {
  margin-left: 2em;
}
.header-list-left {
  margin-right: 1em;
  margin-top: 0.3em;
}
.header-link {
  color: rgba(85, 85, 85, 1);
  text-decoration: none;
}
/* .header-list:active {
  color: rgba(25, 45, 85, 1);
} */

.about {
  border-bottom: 2px solid rgba(62, 113, 212, 1);
}
.header-btn {
  background-color: rgba(25, 45, 85, 1);
  color: #fff;
  padding: 0.4em 1em;
  border: none;
  border-radius: 12px;
  font-family: "Cascadia Code", Consolas, "Courier New", monospace;
  font-size: 1.2rem;
}
.header-btn:hover {
  opacity: 0.8;
  transform: translateY(-3px);
}
.fa-bars {
  display: none !important;
}












/* CSS for Theme mode */
label {
  position: absolute;
  width: 45px;
  height: 27px;
  right: 20px;
  top: 20px;
  border: 2px solid #192d55;
  border-radius: 20px;
}
label:before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  left: 1px;
  top: 1px;
  border-radius: 50%;
  background: #192d55;
  cursor: pointer;
  transition: 0.4s;
}
label.active:before {
  left: 24px;
  background: #fff;
}
body.night {
  background: #000;
  color: #fff;
}





/* End of css for theme mode */
.container{
  margin-top: 6rem;
}


.main-img-div {
  font-family: "Cascadia Code", Consolas, "Courier New", monospace;
  width: 100%;
}
.img-div {
  width: 100%;
  position: relative;
  height: 100%;
}
.main-img {
  width: 100%;
  height: 100%;
}
.overlay {
  background-color: rgba(25, 45, 85, 50%);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.main-img-p {
  position: absolute;
  top: 30%;
  left: 45%;
  color: #fff;
  font-size: 2.5rem;
}
h1 {
  color: #3e71d4;
  margin-bottom: 0.5em;
  font-weight: 800;
}
.main-text {
  font-family: "Open Sans", sans-serif;
  width: 65%;
  margin: 3em auto;
  line-height: 1.7em;
}










/* css for footer */

.down-div{
  margin: auto;
  /* border: 3px solid red; */
  width: 100%;
}

.down{
  /* border: 4px solid red; */
  position: absolute;
  /* margin: auto; */
  width: 98%;
  margin-top: 40px;
}

.ffoooter{
  display: block;
    background-color: var(--footer-bg-color);
}
  


.ffooter {
  width: 100%;
  background-image: url(images/wave.png);
  background-repeat: no-repeat;
  /* background-color: #315aa9; */
    background-color: var(--footer-bg-color);

  display: flex;
  justify-content: space-around;
  /* grid-template-columns: 1fr 1fr 1fr; */
  color: #fff;
  /* padding: 3em 1em; */
  padding-top: 3em;
  padding-bottom: 3em;
  /* margin-top: 30px; */
  font-family: "Cascadia Code", Consolas, "Courier New", monospace;
  /* min-height: 40vh; */
}

.logo-div-footer {
  margin-bottom: 1em;
}

h4 {
  margin-bottom: 1em;
}

.social {
  font-family: "Lora", sans-serif;
  font-weight: 700;
}

.fa-brands {
  margin-right: 1em;
}

.fa-brands:hover {
  color: rgba(170, 170, 170, 1);
}
.footer-ul {
  display: block;
}
.footer-li {
  margin-bottom: 1em;
  list-style: none;
}
.footer-link {
  color: #fff;
  margin-bottom: 1em;
}
.footer-link:active {
  color: rgba(85, 85, 85, 1);
}

input {
  width: 80%;
  padding: 1em 2em;
  border: none;
  border-bottom-left-radius: 0.5em;
  border-top-left-radius: 0.5em;
  /* border-radius: 0.5rem; */
  font-family: "Cascadia Code", Consolas, "Courier New", monospace;
  position: relative;
}

input:placeholder-shown {
  color: rgba(170, 170, 170, 1);
  letter-spacing: 1.1px;
}

.footer-btn {
  /* border: 3px solid yellow; */
  position: absolute;
  right: 4rem;
  background-color: rgba(25, 45, 85, 1);
  color: #fff;
  padding: 1em;
  border: none;
  border-radius: 1rem;
  width: 10%;
  font-family: "Cascadia Code", sans-serif;
}

.footer-btn:hover,
.footer-btn:active {
  transform: translateX(3px);
}


.wrapper {
  height: 80vh;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.back {
  margin-top: 15px;
  background-color: #192d55;
  color: white;
  padding: 0.5rem 1rem;
  font-family: 'cascadia-code', sans-serif;
  text-decoration: none;
  border-radius: 5px;
}

.exp-a{
  color:#fff ;
}



.hidden-footer{
  background-color: #315aa9;
  display: none;
}













@media (min-width: 1000px) and (max-width: 1200px) {
    .footer-btn {
        right: 3em;
        width: 10%;
      }
}

@media (min-width: 700px) and (max-width: 1000px) {
  nav {
    font-size: 1rem;
  }
  .logo-div {
    width: 80%;
  }
  .header-btn {
    font-size: 1rem;
  }
  .left {
    margin-right: 1em;
  }
  .main-img-p {
    top: 20%;
  }
  .footer-btn {
    right: 1em;
  }
}





@media (max-width: 700px) {


  .logo-div-header {
    width: 40%;
    margin-left: 0em;
  }
  .logo-div {
    width: 100%;
  }

  nav {
    margin: 0em 0em 0em 0em;
      display: flex;
  justify-content: space-between;
background-color: var(--bg-color1);
padding: 1em 1em 1em 1.5em;
/* border: 4px solid red; */
  }

  
  .nav-list {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #315aa9;
    z-index: 3;
    width: 0%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;
  }
  .nav-list.active {
    opacity: 1;
    pointer-events: all;
    width: 100%;
  }
  .nav-list-div {
    display: flex;
    flex-direction: column;
    margin: 7em auto;
  }
  .header-ul {
    display: block;
    color: #000;
    margin: unset;
  }
  .left {
    margin-left: 1.5em;
  }
  /* .fa-bars {
    display: block !important;
    position: relative;
    z-index: 5;
    font-size: 1.3rem;
  } */
  li {
    margin-bottom: 1.5em;
  }

  .main-text {
    width: 90%;
  }
  .main-text p {
    font-size: 0.9rem;
  }
  .main-img-p {
    position: absolute;
    top: 25%;
    left: 30%;
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
  }
  h1 {
    margin-bottom: 2rem;
    font-size: 1rem;
  }


}


@media (min-width: 500px) and (max-width: 700px){
    .main-img-p {
        top: 30%;
        left: 30%;
        font-size: 2.5rem;
      }
    .footer-btn {
        right: 2rem;
        /* width: 40%; */
      }
}




@media (max-width: 500px) {
  .ffoooter{
  display: none;
}

.hidden-footer{
  display: block;
  width: 100%;
    background-color: var(--footer-bg-color);
  /* border: 5px solid red; */
    padding: 15px;
    margin-top: 25px;
}


.downn{
  /* border: 4px solid wheat; */
  display: none;
 
}
.first-upp{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  /* border: 3px solid black; */
}

.last-h44{
  color: #fff;
  line-height: 25px;
}

.sub{
  background-color: #0f1b33;
    position: absolute;
  right: 18px;
  color: #fff;
  padding: 0.6rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.2em;
  width: 30%;
  font-family: "Cascadia Code", sans-serif;

}

.last-sub{
  /* border: 3px solid red; */

  width: 100%;
}

.inputtt{
  width: 70%;
}
}