@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('http://fonts.cdnfonts.com/css/cascadia-code');
*,
::before,
::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 0.75rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(218, 215, 215); 
  border-radius: 1.25rem;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #315AA9; 
  border-radius: 1.25rem;
  height: 15rem;
}

html{
  scroll-behavior: smooth;
}
.container {
  font-style: normal;
  font-size: 1.56rem;
  line-height: 1.88em;
  background-color: rgba(255, 254, 254, 1);
  margin-bottom: 2em;
  /* border: 1px solid hotpink; */
}
.terms-head {
  background-color: rgba(49, 90, 169, 1);
  color: #fffefe;
  font-size: 2rem;
  display: flex;
  align-items: center;
  padding: 0.5em 2em;
  font-family: "Cascadia Code",Consolas,'Courier New',monospace;
  font-weight: 300;
}
.navbar {
  width: 4.4rem;
  display: block;
}
.navbar div {
  height: 0.25rem;
  background: rgba(255, 255, 255, 1);
  margin: 0.2em;
  border-radius: 1.6rem;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.one {
  width: 4rem;
}
.two {
  width: 2.5rem;
}
.three {
  width: 1.4rem;
}
.navbar:hover div {
  width: 4rem;
}
h2 {
  margin: 0 auto;
}
.terms-text {
  padding: 4em;
}
p {
  color: #495057;
  margin-bottom: 1em;
  line-height: 1.9em;
  font-family: "Open Sans", sans-serif;
  font-family: 400;
}
.terms-choice {
  text-align: right;
  padding-right: 4em;
  font-size: 1.56rem;
}
.decline {
  background-color: #ffffff;
  padding: 1em 2em;
  border: none;
  font-family: "Cascadia Code",Consolas,'Courier New',monospace;
  
}
.decline:hover{
  border: 1px solid rgb(224, 33, 33);
  background: red;
  border-radius: 10%;
 
}
.decline a:hover{
  color: #ffffff;
}
.decline a{
  text-decoration: none;
   color: #315AA9;
}
.agree {
  background-color: #315AA9;
  color: #ffffff;
  padding: 1em 3em;
  border: none;
  border-radius: 0.625rem;
  font-family: "Cascadia Code",Consolas,'Courier New',monospace;
}
.agree:hover{
  transform: translateY(5px);
  cursor: pointer;
  background: #021e57;
}
a{
  color: black;
}

@media (max-width: 750px){
  .terms-head{
    padding: 0 0 0 0.5em;
  }
  h2 {
    font-size: 1rem;
  }
  .navbar {
    width: 1.5rem;
    display: block;
    margin-right: auto;
  }
  .navbar div {
    height: 0.1rem;
    background: rgba(255, 255, 255, 1);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  .one {
    width: 1.5rem;
  }
  .two {
    width: 1rem;
  }
  .three {
    width: 0.7rem;
  }
  .navbar:hover div {
    width: 1.5rem;
  }
  .terms-text{
    font-size: 0.9rem;
    padding: 1em;
  }
  .terms-choice{
    padding: 1em;
    text-align: right;
  }
  .decline{
    font-size: 0.7rem;
  }
  .agree{
    padding: 1em 2em;
    font-size: 0.7rem;
  }
}